$primaryColor1: hsl(217, 28%, 15%);
$primaryColor2: hsl(218, 28%, 13%);
$primaryColor3: hsl(216, 53%, 9%);
$primaryColor4: hsl(219, 30%, 18%);
$accentColor1: hsl(176, 68%, 64%);
$accentColor2: hsl(198, 60%, 50%);
$accentColor3: hsl(0, 100%, 63%);
$neutralColor: hsl(0, 0%, 100%);
$fontSize: 1.4rem;
